[Unit]
Description=My jenkins container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a myjenkins
ExecStop=/usr/bin/docker stop -t 2 myjenkins 

[Install]
WantedBy=default.target
